.home-container {
  text-align: center;
  padding: 20px;
}

.home-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  display: flex; /* Torna o header um contêiner flexível */
  justify-content: space-between; /* Espaça os itens */
  align-items: center; /* Alinha verticalmente os itens */
}
.home1-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.home-content {
  margin-top: 30px;
}

.login-options {
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #45a049;
}

.user-info {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.6;
}
.system-name {
  text-align: left; /* Alinha o texto à esquerda */
}

.system-name h1 {
  margin: 0;
  font-size: 24px;
}

.system-name p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #f1f1f1;
}

.home-footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  color: #777;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}
.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.nav-bar {
  background-color: #4CAF50;
  padding: 10px 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-list a:hover {
  text-decoration: underline;
}

