.registration-container {
  width: 600px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: justify;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group-btn {
  display: inline-block; /* Faz o botão se comportar como um bloco */
  margin-bottom: 10px; /* Adiciona um espaço abaixo do botão */
  padding: 10px 15px; /* Ajusta o preenchimento para o botão */
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  text-align: center; /* Garante que o texto fique centrado */
  font-size: 16px; /* Tamanho de fonte */
  transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

.form-group-btn:hover {
  background-color: #45a049; /* Cor do botão ao passar o mouse */
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

.patient-image {
  margin-top: 10px;
  max-width: 100%;
  height: auto;

}

.home-container {
  text-align: center;
  padding: 20px;
  width: au;
}

.home-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home1-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.home-content {
  margin-top: 30px;
}

.login-options {
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #45a049;
}

.admin-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-info {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.6;
}

.system-name {
  text-align: left;
  /* Alinha o texto à esquerda */
}

.system-name h1 {
  margin: 0;
  font-size: 24px;
}

.system-name p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #f1f1f1;
}

.home-footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  color: #777;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}

.nav-bar {
  background-color: #4CAF50;
  padding: 10px 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-list a:hover {
  text-decoration: underline;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* tabela de logs */
.logs-table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logs-table th,
.logs-table td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.logs-table th {
  background-color: #4CAF50;
  color: white;
}

.logs-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.logs-table tr:hover {
  background-color: #f1f1f1;
}

/* Botões de controle */
.control-buttons {
  margin: 20px auto;
  text-align: center;
}

.control-buttons button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.control-buttons button:hover {
  background-color: #45a049;
}

/* Filtros */
.filters {
  margin: 20px 0;
  gap: 20px;
  text-align: center;
  padding: 8px 12px;
}

.filters label {
  margin-right: 10px;
}

.filters button {
  margin-left: 5px;
  padding: 8px 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.filters button:hover {
  background-color: #45a049;
}

#filter-date {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters button:hover {
  background-color: #45a049;
}